img {
    width: 100%;
    display: block;

}

body {
    margin: 0;
    padding: 0;
    background-color: #2a2a29;
    background-image: url(billeder/stroke.svg);
}

header {
    height: 0;
}




/*            <!--   Menu og Dropdown->*/

.navn a {
    margin-left: 34vw;
    top: 4vw;
    font-size: 2vw;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 800;
    color: white;
    position: absolute;
    z-index: 3;
    text-decoration: none;

}

.menu .content {
    display: block;
    top: -13vw;
    position: relative;
    z-index: 4;
    left: -2vw;

}

.menu .content a {
    display: flex;
    color: white;
    font-size: 2vw;
    line-height: 3.5vw;
    text-decoration: none;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    width: 16vw;
    padding: 1vw;
}

.menu .content a:hover {
    background-color: #dbdbc8;
}


.dropdown {
    height: 6vw;

}

.dropdown-content {
    display: none;
    position: relative;
    padding: 1vw;
    left: 18vw;
    top: -10vw;
    background-color: rgba(0, 0, 0, 0.63);
    border-radius: 10px;
}


.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}


#menuknap {
    position: absolute;
    top: 5vw;
    left: 5vw;
    font-size: 5vw;
    color: white;
    padding: 1px;
    cursor: pointer;
    float: left;
}


#menu1 {
    transition: transform .3s;
    transform-origin: top left;
    position: absolute;
    top: 23.2vw;
    left: 11vw;
    display: inline-block;
    z-index: 20;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);

}

/*Indhold */

.indhold h2 {
    font-size: 8vw;
    color: #db3b3b;
    text-align: center;
    top: 8vw;
    position: relative;
    font-family: 'Teko', sans-serif;
}



.text p {
    font-size: 3vw;
    color: white;
    text-align: center;
    top: 8vw;
    position: relative;
    margin-left: 8vw;
    margin-right: 9vw;
    border: solid 0.5vw;
    padding: 3vw;
    border-radius: 5vw;
    font-family: 'Darker Grotesque', sans-serif;
}

.mySlides {
    position: relative;
    left: 2.5vw;
    top: 2vw;
    width: 65vw;
}

#images {
    width: 70vw;
    height: 69vw;
    top: 12vw;
    position: relative;
    left: 14vw;
    border-radius: 35vw;
    background-color: #db3b3b;
}

.redesign {
    position: relative;
    width: 60vw;
    height: 53vw;
    margin-left: 26vw;
    margin-top: 19vw;
}

.rtext {
    background-color: #2a2a29;
    color: #db3b3b;
    font-size: 7vw;
    width: 28vw;
    height: 10vw;
    padding: 1vw;
    text-decoration: none;
    position: relative;
    left: 7vw;
    bottom: 19vw;
    display: block;
    border-radius: 19px;
    font-family: 'Teko', sans-serif;
    text-align: center;
}

.pilot {
    position: relative;
    width: 48vw;
    height: 53vw;
    margin-left: 24vw;
    margin-top: -2vw;
}

.ptext {
    background-color: #2a2a29;
    color: #db3b3b;
    font-size: 7vw;
    width: 29vw;
    height: 10vw;
    padding: 1vw;
    text-decoration: none;
    position: relative;
    left: 9vw;
    bottom: 17vw;
    display: block;
    border-radius: 19px;
    font-family: 'Teko', sans-serif;
    text-align: center;
}


/*            <!--   Menu og Dropdown over 600px->*/

/*web*/

@media (min-width: 600px) {

    /*navn */
    .navn a {
        margin-left: 43vw;
        margin-top: -3vw;
        font-size: 1vw;
        font-family: 'JetBrains Mono', monospace;
        font-weight: 800;
        color: #ce2828;
        position: relative;

    }


    .menu .content {
        display: flex;
        position: relative;
        margin-left: 26vw;
        top: -17vw;

    }

    .menu .content a {
        color: white;
        font-size: 1.5vw;
        line-height: 1;
        padding-top: 0.5vw;
        width: 8vw;
        margin-left: 1vw;
        font-family: 'JetBrains Mono', monospace;
        font-weight: 500;
        height: 2vw;


    }

    .dropdown-content {
        top: -0.2vw;
        left: 0vw;
        padding: 0vw;
        width: 11vw;

    }

    .dropdown-content a:hover {
        background-color: #ddd;
        color: black;
    }



    #menuknap {
        display: none;
    }

    #menu1.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu1 li {
        display: inline-block;
    }

    /*    Indhold */

    .text p {
        height: 29vw;
        width: 40vw;
        left: -2vw;
        top: 25vw;
        padding: 2vw;
        font-size: 2vw;
    }

    #images {
        width: 40vw;
        height: 40vw;
        top: -16vw;
        left: 54vw;
        border-radius: 35vw;
        background-color: #db3b3b;
    }

    .mySlides {
        left: 1.5vw;
        top: 1.5vw;
        width: 37vw;
    }

    /*    /redesign*/
    .redesign {
        width: 0vw;
        height: 0vw;
        margin-left: 37vw;
        margin-top: -61vw;
    }

    .redesignimg {
        opacity: 1;
        display: block;
        width: 17vw;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        right: 5vw;
        bottom: 11vw;
    }

    .redesigntext {
        transition: .5s ease;
        opacity: 0;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .rtext {
        font-size: 2vw;
        padding: 0vw;
        left: -5vw;
        top: -16vw;
        width: 12vw;
        height: 3vw;
    }

    .redesign:hover .redesignimg {
        opacity: 0.3;
    }

    .redesign:hover .redesigntext {
        opacity: 1;
    }

    .pilot {
        width: 0vw;
        height: 0vw;
        margin-left: 61.5vw;
        margin-top: -2vw;
    }

    .pilotimg {
        opacity: 1;
        display: block;
        width: 15vw;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        position: relative;
        right: 7vw;
        bottom: 11vw;
    }

    .pilottext {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .ptext {
        font-size: 2vw;
        left: 1vw;
        top: -2vw;
        width: 9vw;
        height: 3vw;
    }

    .pilot:hover .pilotimg {
        opacity: 0.3;
    }

    .pilot:hover .pilottext {
        opacity: 1;
    }
}
